{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate facere, distinctio, dolorum nobis sunt sint temporibus magni assumenda ut impedit repellendus molestiae non? Dolorem asperiores repellat expedita rerum recusandae, facere quas sequi obcaecati perferendis adipisci distinctio ea doloremque, commodi eligendi!</p>
	<p>Explicabo saepe nesciunt quis minus voluptatibus unde, beatae adipisci! Quibusdam molestias natus, recusandae quidem voluptatibus atque unde nobis repellendus quod maiores saepe, aliquam vel exercitationem beatae officia odio placeat dicta quo eum. Minima asperiores molestias accusantium amet ipsam veniam eius?</p>
{% endblock %}
