{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>titre de l'article</h2>
        <div class="metadata">écrit ajd dans la catégorie politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="image_test">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed sunt sequi veritatis quidem pariatur praesentium.</p>
            <p>Consectetur maiores molestiae temporibus possimus dolorem saepe eum pariatur itaque laudantium vitae voluptate, enim aspernatur!</p>
            <a href="{{ path('pin_show') }}" class="btn btn-primary">lire la suite</a>
        </div>
	</article>

{% endblock %}
